//MAIN COLORS
$color-primary: #fcc619; // yellow/orange color #fcc619
$color-primary-light: rgba(
  252,
  198,
  25,
  0.52
); // lighter yellow/orange color #fcc619

$color-secondary: #1f3d8d; // blue #1f3d8d
$color-secondary-light: rgba(31, 61, 141, 0.51); // lighter blue

$color-tertiary: #0d1b40; // darker blue

// GREYS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// WHITE AND BLACK
$color-white: #fff;
$color-black: #000;
