*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 75%;
  margin: 0 auto;

  @include respond(tab-port) {
    width: 85%;
  }

  @include respond(phone) {
    width: 90%;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
