body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.sub-heading {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}

.school-name {
  color: $color-grey-dark;
}
